@tailwind base;
@tailwind components;
@tailwind utilities;

.p-card {
  width: 100% !important;
  color: whitesmoke !important;
  background-image: linear-gradient(rgb(46, 2, 109), rgb(21, 22, 44)) !important;
  border: 1px solid whitesmoke;
}

.p-button {
  color: whitesmoke !important;
  background-image: linear-gradient(rgb(46, 2, 109), rgb(21, 22, 44)) !important;
  border: 1px solid whitesmoke !important;
}

.GeneralInput {
  font-size: 16px;
  .label {
    white-space: nowrap;
    font-size: 16px;
  }
  &.gen-input-error {
    .gen-input {
      border-color: rgb(220, 53, 69);
    }
    p.error {
      margin: 0;
      text-align: right;
    }
    .SpecialInput {
      label {
        color: rgb(220, 53, 69);
      }
    }
  }
  .GenRadioCheck {
    margin-right: 15px;
    input {
      margin: 0;
      padding: 0;
    }

    .label {
      margin-left: 0;
      padding-left: 5px;
    }

    input,
    label {
      cursor: pointer;
    }
  }
  .SpecialInput {
    input {
      margin: 0;
    }
    .label {
      margin-left: 0;
      padding-left: 5px;
    }
    label,
    input {
      cursor: pointer;
    }
    .gen-file {
      font-family: Raleway;
      font-size: 16px;
      &:focus {
        outline: none;
      }
    }
    .gen-checkbox,
    .gen-radio {
      width: 20px;
      height: 20px;
      margin: 0px;
    }
  }
  .gen-input {
    width: 100%;
    border: 2px solid rgb(85, 18, 156);
    background-color: rgb(28, 0, 58);
    border-radius: 5px;
    box-shadow: grey 2px 2px 4px 0px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding: 0px 10px;
    height: 38px;
    font-size: 16px;
    &:focus {
      outline: none;
      border-color: rgb(129, 33, 231);
    }
    option:disabled {
      color: rgb(117, 117, 117);
    }
  }
  .title-label {
    margin: 0;
    margin-right: 20px;
  }
}
